In [1]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
s1=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [3]:
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

In [4]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

np.int64(4)

In [5]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

np.int64(4)

In [6]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [2]:
import pandas as pd
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s2=pd.Series([10,20,30,40,50,60,70,80,90])
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [3]:
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [4]:
import pandas as pd
pd.DataFrame({"Name":['Bob','Sam','Anne'],"Marks":[76,25,92]})

   Name  Marks
0   Bob     76
1   Sam     25
2  Anne     92